* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    color: #00af60;
}
#success{
    background-color: #00af60;
}
.class-success{
    background-color: #00af60;
}
[class="success"]{
    background-color: #00af60;
}
.class-success{
    background-color: #00af60;
}